.bookings-actions {
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.bookings-actions__bar {
  display: flex;
  flex-flow: row nowrap;
  padding: 12px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  justify-content: space-between;
}

.bookings-actions__create-button-wrapper {
  padding: 20px;
}

.bookings-actions__create-button {

}
