.bookings-search {
  position: relative;
  width: 100%;
}

.bookings-search__input {
  width: 100%;
  padding-right: 30px;
}

.bookings-search__icon {
  position: absolute;
  top: 5px;
  right: 10px;
}
