.booking-item {
  position: relative;
  padding: 20px 20px 20px 44px;
  font-size: 13px;
  line-height: 1.2;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  background-color: #ebebe5;
}

.booking-item:last-child {
  border-bottom: 0;
}

.booking-item__status {
  position: absolute;
  top: 24px;
  left: 20px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.booking-item__status_booked {background-color: #b7e479;}
.booking-item__status_unavailable {background-color: #c2c9c6;}
.booking-item__status_tentative {background-color: #efc989;}
.booking-item__status_open {background-color: #efc989;}
.booking-item__status_declined {background-color: #fdb6af;}

.booking-item__replied {
  position: absolute;
  top: 35px;
  left: 17px;
}

.booking-item__guest-name {
  font-weight: bold;
}

.booking-item__property-name {
  margin-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.booking-item__created-date {
  position: absolute;
  top: 18px;
  right: 20px;
  font-size: 13px;
  color: #808080;
}

.booking-item__meta {
  color: #aaa;
}

.booking-item__nights-count {
  margin-right: 6px;
}

.booking-item__paid-amount {
  position: absolute;
  bottom: 17px;
  right: 18px;
  padding: 2px 8px 3px;
  font-size: 13px;
  line-height: 14px;
  color: #aaa;
  border: 1px solid #aaa;
  border-radius: 11px;
}

