:root {
  background: #f0f0ed;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.2;
  font-family: -apple-system, 'BlinkMacSystemFont', '.SFNSDisplay-Regular',
    'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande',
    sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: normal;
}

input[type="text"] {
  height: 30px;
  padding: 7px 10px 9px;
  border: 0;
  font-size: 14px;
  line-height: 30px;
}

input[type="text"]::placeholder {
  color: #aaa;
}

button {
  display: block;
  padding: 8px 10px;
  border: 0;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
}

button.primary {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #7befad;
}

button.secondary {
  border: 1px solid #000;
  background-color: transparent;
}

button.wide {
  width: 100%;
}
