.bookings-list__wrapper {
  width: 20%;
  min-width: 300px;
  height: 100vh;
  background-color: #ebebe5;
}

.bookings-list__filters {
  display: flex;
  flex-flow: row nowrap;
  padding: 15px 20px 14px;
  background-color: #ebebe5;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  align-items: center;
}

.bookings-list__filters > div {
  margin-right: 10px;
}

.bookings-list__filters > div:last-child {
  margin-right: 0;
}

.bookings-list__filter-icon {
  cursor: pointer;
}

.bookings-list {
  height: calc(100vh - 60px - 115px);
  overflow-y: auto;
}

.bookings-list__notice {
  margin: 40px 0;
  text-align: center;
}
